body{
    background-color: black;
}
nav {
    text-align: center;
    background-color: black;
    color: white;

}

nav > a{ 
    font-size: xx-large;
    padding-right: 1em;
    color: white;
    text-decoration: none;
}
a:hover{
    color: #47817F;
}
#container > img{
    width: 100%;
    margin: 0 auto;
}
.header{
    background-size: cover;
    height: 10vh;
    width: 100%;
    background-color: black;
}

img{
    width: 10%;
    height: 70%;
    padding-top: 1vh;
    padding-left: 2vw;
    float: left;
}

article{
    width: 66%;
    text-align: center;
    float: left;
}

.footerItems{
    width: 33%;
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: #00c9C8;
    width: 100%;
}


aside{
    float: right;
    width: 33%;
}
aside > a{
    width: 100%;
}

h1{
    text-align: center;
}

.content{
    display:block;
}

footer{
    display: block;
    color: white;
    position: relative;
}


.contentItems{
    border-radius: 15% 25%;
    border-style: groove;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    overflow: hidden;
    color: white;
}

.contentItems p,ul{
    font-size: larger;
}

.contentItems  ul{
    list-style-type: none;
}

footer a{
    color: white;
    text-decoration: none;
}

#middleContent{
    color: white;
    text-align: center;
    width: 80%;
    min-width: 80%;
    margin: 0 auto;
}

#middleContent{
    font-size: larger;
}

.content{
    color: white;
}

.content > iframe{
    height: 100vh;
}

.content h2{
    text-align: center;
}

.content p{
    text-align: center;
    font-size: larger;
}

.content table{
    margin: 0 auto;
    border: 1px solid white;
}


table ul{
    list-style-type: none;
}
