body{
    background-color: black;
}
nav {
    text-align: center;
    background-color: black;
    display: block-inline;
    color: white;

}

nav > a{ 
    font-size: xx-large;
    padding-right: 1em;
    color: white;
    text-decoration: none;
}
a:hover{
    color: chocolate;
}
#container > img{
    width: 100%;
    margin: 0 auto;
}
.header{
    background-image: url('../images/marsRover.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-color: aqua;
}

.logo > img{
    width: 25%;
    height: 70%;
    padding-top: 10vh;
    float: left;
}

article{
    width: 66%;
    text-align: center;
    float: left
}

.footerItems{
    width: 33;
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: darkblue;
    width: 100%;
}


aside{
    float: right;
    width: 33%;
}
aside > a{
    width: 100%;
}

h1{
    text-align: center;
}

.content{
    display:block;
}

footer{
    display: block;
    color: white;
    position: relative;
}

#logo{
    width: 20vw;
    height: 20vh;
    margin-top: 10px;
    margin-left: 5%;
}

#logo > img{
    width: 100%;
}

.contentItems{
    border-radius: 15% 25%;
    border-style: groove;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-image: url('../images/backgroundSpace.jpg');
    overflow: hidden;
    color: white;
}

.contentItems p,ul{
    font-size: larger;
}

.contentItems  ul{
    list-style-type: none;
}

footer a{
    color: white;
    text-decoration: none;
}